*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DDDDDD;
}
.container{
display: flex;
flex-wrap: wrap;
width: 900px;
justify-content: center;
align-items: center;
}

.box{
  width: 80px;
  height: 80px;
  background-color: #BC243C;
  margin: 5px;
  color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.yellow{
  background-color: rgba(8,59,76,255);
}

.blue{
  background-color: #009B77;
}

.green{
  background-color: #39CCCC;
  color: #001f3f;
}